<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ina_uzu.saewoo">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity"></activity>
        <activity android:name=".main.DashboardActivity"></activity>
        <activity android:name=".calendar.CalendarActivity"></activity>
        <activity android:name=".letter.LetterMenuActivity"></activity>
        <activity android:name=".letter.LetterListActivity"></activity>
        <activity android:name=".letter.LetterWriteActivity"></activity>
        <activity android:name=".letter.LetterReadActivity"></activity>
        <activity android:name=".bucketlist.BucketListActivity"></activity>
        <activity android:name=".worktable.WorktableActivity"/>
    </application>

</manifest>